//Sass custom style by mtperes 

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Mr+Dafoe')
@import url('https://fonts.googleapis.com/css?family=Condiment')
$gradient: linear-gradient( -45deg ,#00F260,blue,#5B86E5,#00F260)


$main: teal
$light: aliceblue 
$accent: tomato
$content: DarkSlateGray    
$shadow: 0px 0px 5px 3px rgba($content, .5)

nav
  background: $light
  
  .brand-logo 
    color: $main
    font-family: 'Condiment'
    transform: rotate(-20deg)
    line-height: 26px
    margin-top: 1%
    margin-left: 20% 
    text-shadow: .5px .3px $accent
    font-size: 2.4em
  .btn-floating   
    display: none
    position: relative
    margin-left: 70% 
    bottom: -25px 
    i 
      color: $accent
      transition: ease-in .4s, ease-out .4s !important
  .btn-floating:hover
    i  
      transform: scale(1.5)
  

  

i
  transition: ease-in .5s, ease-out .5s !important

li:hover 
  a
    background: rgba( $main , .1 )
  i
    transform: scale(1.5)
    color: $accent


  .material-icons
    

  .material-icons:hover
    transform: scale(1.5) 
    
  
.sidenav

  li

    a

      i
        color: $main !important 
   
  
  
  li:hover
    a
      background: rgba( $main , .1 )
      i
        transform: scale(1.5)
        color: $accent
  


.card 
  position: relative
  margin: 1em
  background: aliceblue
  width: 200px
  height: 200px
  
  &::before,
  &::after 
    content: ''
    position: absolute
    top: 1.25em
    bottom: 1.25em
    left: 1.25em
    right: 1.25em
    opacity: 1
    transition: transform ease-out 250ms
  
  
  &::before 
    border-top: 4px dotted $accent
    border-bottom: 4px dotted $accent
    transform: scale(0,1)
  
  
  &::after 
    border-left: 4px dotted $accent
    border-right: 4px dotted $accent
    transform: scale(1,0)
  
  
  &:hover::before 
    transform: scale(1.05, 1)
  
  
  &:hover::after 
    transform: scale(1, 1.05)
  



.card__img 
  max-width: 100%
  max-height: 100%
  margin: auto
  display: block
  transition: opacity ease-out 250ms



.card:hover 
  .card__img 
    opacity: .4
  

.card__text 
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  color: $main
  opacity: 0
  transition: opacity ease-out 250ms


.card:hover .card__text 
  opacity: 1


.card__title 
  font-size: 2rem
  color: $main
  margin-bottom: 0

.card__body
  line-height: 1rem


.nice-border
  border-style: dotted 
  border-color: rgba(213, 126, 0, 1) 
  border-image-source: url('/img/dots.svg')
  border-image-slice: 33% 33%
  border-image-repeat: round


.source 
  opacity: .8
  position: absolute
  width: 100%
  bottom: 1em





section 

  font-family: 'Chakra Petch'
  text-align: center
  padding: 5%
  h4,h6,.location
    color: $light
  .job
    background: $main
    border-radius: 15px 0 0 0 
    margin-bottom: 2%
    .chip 
      font-size: 11pt
      color: $main
      i 
        font-size: 13pt
        margin-top: 8px 
   
  .sub
    padding: 1%

    display: -webkit-inline-box
    justify-content: space-around
    color: $light
    width: 100%

  .text
    padding: 2em
 
  
  p 
    background: $light
    line-height: 2rem
    font-family: 'IBM Plex Sans'
    color: $content
    margin: 0
  a
    color: $main  
  ul , li
    color: $content

.collapsible-body //academic section 
  background: $light
.collapsible-header
  justify-content: center
  color: $content
  i 
    color: $main


#btn-action
  position: fixed
  top: 90vh
  right: 2rem
  z-index: 3 
  opacity: .5
  transition: all .6s
#btn-action:hover
  opacity: 1
  transform: translateY(-15px)
.user-view
	width: 100wh
	height: 30vh
	color: $light
	background: $gradient
	background-size: 400% 400%
	-webkit-animation: Gradient 15s ease infinite
	-moz-animation: Gradient 15s ease infinite
	animation: Gradient 15s ease infinite

  
@-webkit-keyframes Gradient 
	0% 
		background-position: 0% 50%
	
	50% 
		background-position: 100% 50%
	
	100% 
		background-position: 0% 50%
	


@-moz-keyframes Gradient 
	0% 
		background-position: 0% 50%
	
	50% 
		background-position: 100% 50%
	
	100% 
		background-position: 0% 50%
	


@keyframes Gradient 
	0% 
		background-position: 0% 50%
	
	50% 
		background-position: 100% 50%
	
	100% 
		background-position: 0% 50%
	
.blur-effect
  filter: blur(6px)
  background: rgba($main , .5)
  height: 100%
 
.blur-effect  
  width: 100%
  z-index: -1
  position: absolute
          

h1
  font-family: 'IBM Plex Sans'
  font-weight: 700
  font-size: 5em
  text-shadow: -3px 3px 10px $content
  

section h5
	font-family: 'Chakra Petch'
	font-weight: 300
	text-align: center
	top: 45%
	right: 0
	left: 0
  
section h5  
  color: $accent !important
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png")
  

h6 text
	font-family: 'Open Sans'
	font-weight: 300
	text-align: center
	top: 45%
	right: 0
	left: 0

#abouther 
 
  .van
      font-size: 50pt
      font-weight: 600
      padding: 3rem
  p 
    background: yellow
    

    i
      width: 5rem
      color: $accent
      fill: $accent 
      transition: all .5s  
    i:hover
      transform: scale(3rem)
.fav
  color: $accent !important 

.quote-text i
  position: absolute
  top: 5%
  left: 3%
  transform: rotate(180deg)

#author 
  float: right




#subtitle
  margin-top: 10%
  font-family: 'Chakra Petch', sans-serif
  text-shadow: 0 0 5px black






#content
  
  background: $main
  background-image: url("/img/escheresque.png")
  background-attachment: fixed
  width: 100%
  margin-top: -1.3%

.slider .indicators .indicator-item
  background-color: $light 
  

.slider .indicators .indicator-item.active
  background-color: $accent
  box-shadow: $shadow
  transform: translateY(-2rem) scale(1.5)
  transition: all .6s
  z-index: 3

.accent-filter
  filter:hue-rotate(90deg)
.teal-filter
  background: rgba($accent,.5)  
.page-footer
  text-align: center !important
  background: $light
  text-align: center  
  .card
    width: 100%
    height: 15vh 
    margin: .5rem 0 1rem 0
  
  .qrcode
    display: none
    background: $light
    img
      width: 8rem
      height: 8rem


  .btn-send
    position: absolute
    i 
      color: $accent
      transition: ease-in .4s, ease-out .4s !important
  .btn-send:hover
    i  
      transform: scale(1.5)
  
  .alert // temp
    color: $accent 
.parallax-container 
  min-height: 380px
  line-height: 0
  height: auto
  color: $light
  background: rgba($main , .2)

  .parallax-container section 
    align-self: auto
    width: 50%
  
.parallax-container .parallax img 
  opacity: .8
  position: absolute
  left: 50%
  bottom: 0
  width: 100%
  min-width: 100%
  min-height: 100%
  -webkit-transform: translate3d(0, 0, 0)
          transform: translate3d(0, 0, 0)
  -webkit-transform: translateX(-50%)
          transform: translateX(-50%)

          
footer.page-footer 
  .container
    width: 100% 
    display: inline-flex
    justify-content: space-evenly
  .space 
    background: rgba($main, .3)
    margin-top: 1rem 
    padding: 0 .5rem 
    display: inline-flex
    justify-content: space-between


  
.knowchips
  display: inline-flex

.knowchips
 
  .card
    padding: .5em



@media only screen and (max-width: 992px)


  .parallax-container .section 
    position: absolute
    top: 40%
  
  #index-banner .section 
    top: 10%
  
  nav .brand-logo 
    margin-top: 3.5%
    left: auto !important
    
  .knowchips
    display: inline-block
    text-align: center
@media only screen and (max-width : 600px) 
  #index-banner .section 
    top: 0

  .icon-block 
    padding: 0 15px

  .icon-block .material-icons 
    font-size: inherit


  // #abouther 
  // .van
  //     font-size: 100pt
  //     font-weight: 600
  //     padding: 3rem
  // p 
  //   background: yellow
    

  //   i
  //     width: 5rem
  //     color: $accent
  //     fill: $accent 
  //     transition: all .5s  
  //   i:hover
  //     transform: scale(3rem)
  


