//Sass custom style by mtperes 

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html, body 
  z-index: -6
  height: 100%


nav ul a,
nav .brand-logo 
  color: teal
  /* color: #26a69a */
.light
  

.pushpin-demo-nav 
  background-color: aliceblue
  top: 0px



section 
  font-family: Chakra Petch
  text-align: center
  padding: 5%
       
p 
  line-height: 2rem
  font-family: 'Arvo'
  color: teal


.sidevav
  width: 50%
  
.sidenav-trigger 
  color:teal 


.teal-text.text-lighten-2 
  color: rgb(231, 231, 231)!important 
  font-family: 'Arvo'
  text-shadow: 1px 3px 25px grey
  font-size: 500%


#signture
  margin-top: 13%

#subtitle
  margin-top: 10%
  font-family: 'Chakra Petch', sans-serif
  text-shadow: 0 0 5px black

#btn-more
  color:aliceblue
  display: none
  position: absolute
  margin-top: -2%
  margin-left: 1%




#btn-back
  color:aliceblue
  display: none
  position: absolute
  margin-top: 10.1%
  margin-left: 95.9%
  z-index: 1000




#content
  background-color: aliceblue
  width: 100%
  margin-top: -1.3%

.parallax-container 
  min-height: 380px
  line-height: 0
  height: auto
  color: rgba(255,255,255,.9)

  .parallax-container .section 
    align-self: auto
    width: 50%
  
.parallax-container .parallax img 
  -webkit-filter: grayscale(180%) /* Safari 6.0 - 9.0 */
  filter: grayscale(180%)
  opacity: 0
  position: absolute
  left: 50%
  bottom: 0
  width: 100%
  min-width: 100%
  min-height: 100%
  -webkit-transform: translate3d(0, 0, 0)
          transform: translate3d(0, 0, 0)
  -webkit-transform: translateX(-50%)
          transform: translateX(-50%)



@media only screen and (max-width : 992px) 
  .parallax-container .section 
    position: absolute
    top: 40%
  
  #index-banner .section 
    top: 10%
  


@media only screen and (max-width : 600px) 
  #index-banner .section 
    top: 0
  


.icon-block 
  padding: 0 15px

.icon-block .material-icons 
  font-size: inherit


footer.page-footer 
  margin: 0




