/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
html, body {
  z-index: -6;
  height: 100%; }

nav ul a,
nav .brand-logo {
  color: teal;
  /* color: #26a69a */ }

.pushpin-demo-nav {
  background-color: aliceblue;
  top: 0px; }

section {
  font-family: Chakra Petch;
  text-align: center;
  padding: 5%; }

p {
  line-height: 2rem;
  font-family: 'Arvo';
  color: teal; }

.sidenav-trigger {
  background: indigo; }

.user-view {
  width: 100wh;
  height: 30vh;
  color: #fff;
  background: -webkit-linear-gradient(135deg, #00F260, blue, #5B86E5, #00F260);
  background: -o-linear-gradient(135deg, #00F260, blue, #5B86E5, #00F260);
  background: linear-gradient(-45deg, #00F260, blue, #5B86E5, #00F260);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

h1,
h5 text {
  font-family: "Open Sans";
    font-family-font-size: 20px;
  font-weight: 300;
  text-align: center;
  top: 45%;
  right: 0;
  left: 0; }

h6 text {
  font-family: "Open Sans";
    font-family-font-size: 12px;
  font-weight: 300;
  text-align: center;
  top: 45%;
  right: 0;
  left: 0; }

.quote-text {
  font-family: 'Open Sans';
  font-weight: 300; }
  .quote-text i {
    positio: absolute;
    top: 5%;
    left: 3%; }

.teal-text.text-lighten-2 {
  color: #e7e7e7 !important;
  font-family: 'Arvo';
  text-shadow: 1px 3px 25px grey;
  font-size: 500%; }

#signture {
  margin-top: 13%; }

#subtitle {
  margin-top: 10%;
  font-family: 'Chakra Petch', sans-serif;
  text-shadow: 0 0 5px black; }

#btn-more {
  display: none;
  position: fixed;
  top: 63%;
  left: 70%; }

#btn-back {
  display: none;
  position: absolute;
  margin-top: 10.1%;
  margin-left: 95.9%;
  z-index: 1000; }

#content {
  background-color: aliceblue;
  width: 100%;
  margin-top: -1.3%; }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9); }
  .parallax-container .parallax-container .section {
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 50%; }

.parallax-container .parallax img {
  -webkit-filter: grayscale(180%);
  filter: grayscale(180%);
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
    -webkit-transform-transform: translateX(-50%); }

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%; }
  #index-banner .section {
    top: 10%; } }

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0; } }

.icon-block {
  padding: 0 15px; }

.icon-block .material-icons {
  font-size: inherit; }

footer.page-footer {
  margin: 0; }
