/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Mr+Dafoe");
@import url("https://fonts.googleapis.com/css?family=Condiment");
nav {
  background: aliceblue; }
  nav .brand-logo {
    color: teal;
    font-family: 'Condiment';
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    line-height: 26px;
    margin-top: 1%;
    margin-left: 20%;
    text-shadow: 0.5px 0.3px tomato;
    font-size: 2.4em; }
  nav .btn-floating {
    display: none;
    position: relative;
    margin-left: 70%;
    bottom: -25px; }
    nav .btn-floating i {
      color: tomato;
      -webkit-transition: ease-in .4s, ease-out .4s !important;
      -o-transition: ease-in .4s, ease-out .4s !important;
      transition: ease-in .4s, ease-out .4s !important; }
  nav .btn-floating:hover i {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }

i {
  -webkit-transition: ease-in .5s, ease-out .5s !important;
  -o-transition: ease-in .5s, ease-out .5s !important;
  transition: ease-in .5s, ease-out .5s !important; }

li:hover a {
  background: rgba(0, 128, 128, 0.1); }

li:hover i {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  color: tomato; }

li:hover .material-icons:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5); }

.sidenav li a i {
  color: teal !important; }

.sidenav li:hover a {
  background: rgba(0, 128, 128, 0.1); }
  .sidenav li:hover a i {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    color: tomato; }

.card {
  position: relative;
  margin: 1em;
  background: aliceblue;
  width: 200px;
  height: 200px; }
  .card::before, .card::after {
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
    opacity: 1;
    -webkit-transition: -webkit-transform ease-out 250ms;
    transition: -webkit-transform ease-out 250ms;
    -o-transition: transform ease-out 250ms;
    transition: transform ease-out 250ms;
    transition: transform ease-out 250ms, -webkit-transform ease-out 250ms; }
  .card::before {
    border-top: 4px dotted tomato;
    border-bottom: 4px dotted tomato;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1); }
  .card::after {
    border-left: 4px dotted tomato;
    border-right: 4px dotted tomato;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    transform: scale(1, 0); }
  .card:hover::before {
    -webkit-transform: scale(1.05, 1);
    -ms-transform: scale(1.05, 1);
    transform: scale(1.05, 1); }
  .card:hover::after {
    -webkit-transform: scale(1, 1.05);
    -ms-transform: scale(1, 1.05);
    transform: scale(1, 1.05); }

.card__img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  -webkit-transition: opacity ease-out 250ms;
  -o-transition: opacity ease-out 250ms;
  transition: opacity ease-out 250ms; }

.card:hover .card__img {
  opacity: .4; }

.card__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: teal;
  opacity: 0;
  -webkit-transition: opacity ease-out 250ms;
  -o-transition: opacity ease-out 250ms;
  transition: opacity ease-out 250ms; }

.card:hover .card__text {
  opacity: 1; }

.card__title {
  font-size: 2rem;
  color: teal;
  margin-bottom: 0; }

.card__body {
  line-height: 1rem; }

.nice-border {
  border-style: dotted;
  border-color: #d57e00;
  border-image-source: url("/img/dots.svg");
  border-image-slice: 33% 33%;
  border-image-repeat: round; }

.source {
  opacity: .8;
  position: absolute;
  width: 100%;
  bottom: 1em; }

section {
  font-family: 'Chakra Petch';
  text-align: center;
  padding: 5%; }
  section h4, section h6, section .location {
    color: aliceblue; }
  section .job {
    background: teal;
    border-radius: 15px 0 0 0;
    margin-bottom: 2%; }
    section .job .chip {
      font-size: 11pt;
      color: teal; }
      section .job .chip i {
        font-size: 13pt;
        margin-top: 8px; }
  section .sub {
    padding: 1%;
    display: -webkit-inline-box;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    color: aliceblue;
    width: 100%; }
  section .text {
    padding: 2em; }
  section p {
    background: aliceblue;
    line-height: 2rem;
    font-family: 'IBM Plex Sans';
    color: DarkSlateGray;
    margin: 0; }
  section a {
    color: teal; }
  section ul, section li {
    color: DarkSlateGray; }

.collapsible-body {
  background: aliceblue; }

.collapsible-header {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: DarkSlateGray; }
  .collapsible-header i {
    color: teal; }

#btn-action {
  position: fixed;
  top: 90vh;
  right: 2rem;
  z-index: 3;
  opacity: .5;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s; }

#btn-action:hover {
  opacity: 1;
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px); }

.user-view {
  width: 100wh;
  height: 30vh;
  color: aliceblue;
  background: -webkit-linear-gradient(135deg, #00F260, blue, #5B86E5, #00F260);
  background: -o-linear-gradient(135deg, #00F260, blue, #5B86E5, #00F260);
  background: linear-gradient(-45deg, #00F260, blue, #5B86E5, #00F260);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.blur-effect {
  -webkit-filter: blur(6px);
  filter: blur(6px);
  background: rgba(0, 128, 128, 0.5);
  height: 100%; }

.blur-effect {
  width: 100%;
  z-index: -1;
  position: absolute; }

h1 {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 5em;
  text-shadow: -3px 3px 10px DarkSlateGray; }

section h5 {
  font-family: 'Chakra Petch';
  font-weight: 300;
  text-align: center;
  top: 45%;
  right: 0;
  left: 0; }

section h5 {
  color: tomato !important;
  background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png"); }

h6 text {
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  top: 45%;
  right: 0;
  left: 0; }

#abouther .van {
  font-size: 50pt;
  font-weight: 600;
  padding: 3rem; }

#abouther p {
  background: yellow; }
  #abouther p i {
    width: 5rem;
    color: tomato;
    fill: tomato;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  #abouther p i:hover {
    -webkit-transform: scale(3rem);
    -ms-transform: scale(3rem);
    transform: scale(3rem); }

.fav {
  color: tomato !important; }

.quote-text i {
  position: absolute;
  top: 5%;
  left: 3%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

#author {
  float: right; }

#subtitle {
  margin-top: 10%;
  font-family: 'Chakra Petch', sans-serif;
  text-shadow: 0 0 5px black; }

#content {
  background: teal;
  background-image: url("/img/escheresque.png");
  background-attachment: fixed;
  width: 100%;
  margin-top: -1.3%; }

.slider .indicators .indicator-item {
  background-color: aliceblue; }

.slider .indicators .indicator-item.active {
  background-color: tomato;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(47, 79, 79, 0.5);
  box-shadow: 0px 0px 5px 3px rgba(47, 79, 79, 0.5);
  -webkit-transform: translateY(-2rem) scale(1.5);
  -ms-transform: translateY(-2rem) scale(1.5);
  transform: translateY(-2rem) scale(1.5);
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  z-index: 3; }

.teal-filter {
  background: rgba(255, 99, 71, 0.5); }

.page-footer {
  text-align: center !important;
  background: aliceblue;
  text-align: center; }
  .page-footer .card {
    width: 100%;
    height: 15vh;
    margin: .5rem 0 1rem 0; }
  .page-footer .qrcode {
    display: none;
    background: aliceblue; }
    .page-footer .qrcode img {
      width: 8rem;
      height: 8rem; }
  .page-footer .btn-send {
    position: absolute; }
    .page-footer .btn-send i {
      color: tomato;
      -webkit-transition: ease-in .4s, ease-out .4s !important;
      -o-transition: ease-in .4s, ease-out .4s !important;
      transition: ease-in .4s, ease-out .4s !important; }
  .page-footer .btn-send:hover i {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }
  .page-footer .alert {
    color: tomato; }

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: aliceblue;
  background: rgba(0, 128, 128, 0.2); }
  .parallax-container .parallax-container section {
    -ms-flex-item-align: auto;
    align-self: auto;
    width: 50%; }

.parallax-container .parallax img {
  opacity: .8;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
    -webkit-transform-transform: translateX(-50%); }

footer.page-footer .container {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

footer.page-footer .space {
  background: rgba(0, 128, 128, 0.3);
  margin-top: 1rem;
  padding: 0 .5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.knowchips {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.knowchips .card {
  padding: .5em; }

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%; }
  #index-banner .section {
    top: 10%; }
  nav .brand-logo {
    margin-top: 3.5%;
    left: 0rem; }
  .knowchips {
    display: inline-block;
    text-align: center; } }

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0; }
  .icon-block {
    padding: 0 15px; }
  .icon-block .material-icons {
    font-size: inherit; } }
